<!-- templates/email/password_reset_email.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
    <style>
        h1 {
            font-size: 35px;
            margin-botton: 5px; 
        }
        h1 span {
            color: #D92525;
        }
    </style>
</head>
<body style="background-color: #1e1e1e; color: #ffffff; font-family: Arial, sans-serif; text-align: center; padding: 20px;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #333333; padding: 20px; border-radius: 8px;">
        <h1><span>H</span>ericlys.<span>D</span>ev</h1>
        <h2>Recuperação de Senha</h2>
        <p>Olá,</p>
        <p>Você solicitou a recuperação de sua senha. Clique no link abaixo para redefinir sua senha:</p>
        <a href="{{ reset_url }}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">Redefinir Senha</a>
        <p style="margin-top: 20px;">Se você não solicitou essa mudança, pode ignorar este e-mail.</p>
        <p>Atenciosamente, <br>Equipe do Suporte da Hericlys.Dev</p>
    </div>
</body>
</html>
