{% extends "global/base.html" %}
{% load static %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static "portfolio/css/partials/project_card.css" %}">
    <link rel="stylesheet" href="{% static "portfolio/css/projects.css" %}">
{% endblock additional_style %}

{% block menu_links %}

{% endblock menu_links %}

{% block content %}
    <section id="projects" class="full-page centralized-content">
        <div class="main-content">
            <div class="centralized-content">
                <div class="section-header">
                    <h2>Portifolio de Projetos</h2>
                    <p>Aqui você encontrará meus projetos, que combinam criatividade e tecnologia para entregar resultados impactantes. Explore meu portfólio e veja como transformo ideias em código eficiente."</p>
                </div>
                <div class="search-container">
                    <form action="#" id="form_search" method="get">
                        {% include "global/partials/search.html" %}
                    </form>
                </div>
                <div class="projects-container cards-container">
                    {% if page_obj %}
                        {% for project in page_obj %}
                            {% include "portfolio/partials/project_card.html" %}
                        {% endfor %}
                    {% else %}
                        <div class="not-found text-center">
                            <i class="fa-regular fa-face-frown icon"></i>
                            <p class="not-found-text">{{not_found_text}}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="pagination-container">
                    {% include "global/partials/pagination.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block additional_script %}
    <script src="{% static 'global/js/partials/search.js' %}"></script>
    <script src="{% static 'portfolio/js/projects.js' %}"></script>
{% endblock additional_script %}