{% extends "global/base.html" %}
{% load static %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static "Accounts/css/accounts_forms.css" %}">
{% endblock additional_style %}

{% block content %}
<section id="register-user" class="full-page centralized-content">
    <div class="main-content text-center">
        <div class="section-header">
            <h2>Recuperação de senha</h2>
            <p>Informe seu E-mail</p>
        </div>
        <form action="{% url "accounts:password_reset" %}" class="form" method="post">
            {% csrf_token %}
            <div class="form-container-inputs">
                <div class="inputs-container">
                    <div class="input-container centralized-content">
                        <label for="email">E-mail</label>
                        <input
                            type="email" name="email" id="email" maxlength="50"
                            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                            required placeholder="SeuMelhor@email.com"
                            value="{{form_content.email}}"
                        >
                    </div>
                </div>
            </div>
            <button class="button" type="submit">
                <span class="button_lg">
                    <span class="button_sl bg-green"></span>
                    <span class="button_text">Recuperar</span>
                </span>
            </button>

            <p>lembrou da senha? <a href="{% url "accounts:login" %}">Entrar</a></p>
        </form>
    </div>
</section>
{% endblock content %}