{% extends "global/base.html" %}
{% load static %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static "Accounts/css/accounts_forms.css" %}">
{% endblock additional_style %}

{% block content %}
<section id="register-user" class="full-page centralized-content">
    <div class="main-content text-center">
        <div class="section-header">
            <h2>Redefinição de senha</h2>
            <p>
                Crie sua nova senha
            </p>
        </div>
        <form action="#" class="form" method="post">
            {% csrf_token %}
            <div class="form-container-inputs">
                <div class="inputs-container">
                    <div class="input-container centralized-content">
                        <label for="phone">Senha</label>
                        <input
                            type="password" name="password" id="password" maxlength="20"
                            minlength="8"
                            required placeholder="********"
                        >
                        <div class="dialog-box">A senha deve conter letras maiúsculas e minúsculas, números e caracteres especiais</div>
                    </div>

                    <div class="input-container centralized-content">
                        <label for="phone">Confirmação de senha</label>
                        <input
                            type="password" name="password2" id="password2" maxlength="20"
                            minlength="8"
                            required placeholder="********"
                        >
                    </div>
                </div>
            </div>
            <button class="button" type="submit">
                <span class="button_lg">
                    <span class="button_sl bg-green"></span>
                    <span class="button_text">Redefinir</span>
                </span>
            </button>
        </form>
    </div>
</section>
{% endblock content %}