{% extends "global/base.html" %}
{% load static %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static "global/css/partials/check_mark.css" %}">
{% endblock additional_style %}

{% block content %}
<section id="register-user" class="full-page centralized-content">
    <div class="main-content text-center">
        {% include "global/partials/check_mark.html" %}
        <div class="texts-container">
            <h1>Email enviado com sucesso</h1>
            <p>Enviamos o link de recuperação de senha para o E-mail:</p>
            <p>{{email}}</p>
            <p><span class="bold">Não é seu E-mail?</span> <a href="{% url "accounts:password_reset" %}" class="link">Clique aqui</a></p>
        </div>
    </div>
</section>
{% endblock content %}


{% block additional_script %}
<script src="{% static "accounts/js/password_reset_done.js" %}"></script>
{% endblock additional_script %}